bin
.cache
include/Scala.def
include/Scala-parenthesize.str
include/Scala-Permissive.def
include/Scala.generated.pp.af
include/Scala.packed.esv
include/Scala.pp.af
include/Scala.rtg
include/Scala.str
include/Scala.tbl
include/scala.rtree
include/scala.ctree
include/scala.ctree.dep
include/scala.jar
include/scala-java.jar
editor/java/trans
editor/Scala-*.generated.*
syntax/Scala*.generated.esv
syntax/Scala.generated.pp
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
doc
/include
